{% extends "./base.html" %}
{% block title %} Gestion de alumnos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <!--
       {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
      {% endif %}
        -->
        <h2 class="text-center">Gestion de alumnos</h2>
        <div class="card">
            <div class="card-body" style="display: flex;
                                        justify-content: flex-start;
                                        flex-direction: column-reverse;">
                <form enctype="multipart/form-data" action="/registrarAlumno/" method="POST"> {% csrf_token %}
                    <div class="form-group" style="margin: 10px;">
                        <input type="text" 
                                name="txtNUA" 
                                id="txtNUA" 
                                class="form-control" 
                                placeholder="NUA" 
                                minlength="6" 
                                maxlength="6" 
                                required>
                    </div>
                    <div class="form-group" style="margin: 10px;">
                        <input type="text" 
                                name="txtNombre" 
                                id="txtNombre" 
                                class="form-control" 
                                placeholder="Nombre del alumno (Apellidos - Nombre(s))"
                                minlength="3" 
                                maxlength="100" 
                                required>
                    </div>
                    <div class="form-group" style="margin: 10px;">
                        <label for="foto">Foto del Alumno(a): </label>
                        <input type="file" id="foto" name="fotoAlumno" accept="image/*">
                    </div>
                    <div class="form-group" style="display: flex; padding-left: 10px;">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1 class="text-center">Listado de alumnos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NUA</th>
                        <th>Alumno</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alumnos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{a.nua}}</td>
                        <td>{{a.nombre}}</td>
                        <td>
                            <a href="edicionAlumno/{{a.nua}}" class="btn btn-info">Editar</a>
                            <a href="eliminacionAlumno/{{a.nua}}" class="btn btn-danger btnEliminacion">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a href="recognize/" class="btn btn-info">Abrir Cámara</a>
</div>

{% endblock %}